.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  height: 100%;
  justify-content: space-between;
  row-gap: 15px;
  padding: 10px;
  background-color: #fff;
}
.imgBox {
  position: relative;
  aspect-ratio: 160 / 150;
  background: #c4c4c4;
}
.contentBox {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  button {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 19px;
  }
  span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #2a59fe;
  }
  h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .remove {
    background: #f74165;
  }
}
