.filterContainer {
  margin-bottom: 19px;
  & > span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #333333b3;
  }
}
.filterBox {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.filterItem {
  display: flex;
  column-gap: 8px;
  align-items: center;
  span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
.search{
  background: #FAFAFB;
  max-width: 100%;
}
.cardContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 26px;
}