@import '../../styles/variables';
@import '../../styles/mixins';
.nav {
  position: fixed;
  z-index: 999;
  height: 50px;
  width: 100vw;
  background: $color-primary;
  display: flex;
  align-items: center;
}
.contentBox {
  align-items: center;
  display: flex;
  column-gap: 17px;
}
.logo {
  margin: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}
.search {
  max-width: 408px;
  width: 100%;
}
.basket {
  display: inline-flex;;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  color: #fff;
  svg{
    width: 24px;
    height: 24px;
  }
  span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}
.searchBox{
  @include breakpoint(sm){
    display: none;
    visibility: hidden;
  }
}