// fonts

$font-default: 'DM Sans', sans-serif;

// colors

$color-primary: #c8102e;
$color-primary-dark: #991026;
$color-secondary: #4b7bec;
$color-success: #34c759;
$color-secondary-dark: #4b595b; //#1872dc;
$color-black: #101010;
$color-soft-black: #1e1f28;
$color-grey: #f0f0f0;
$color-soft-grey: #fafafa;

$bulut: #505759;
$delay: 200ms;
